
# Qlik CLI Doc

#### qlik-cli
**version:** `2.2`

#### qlik-cli-doc
**version:** {{ version }}
**build:** {{ date }}
This website was made to provide the community an online searchable reference for the `qlik-cli` utility. 

All information has been pulled from the manpages incorporated into the command line tool itself. All additional examples and use cases can be found at [WhereClause](https://whereclause.com){:target="_blank"}


## General

### Getting Started

* Qlik's Official Documentation - [qlik.dev](https://qlik.dev/libraries-and-tools/qlik-cli'){:target="_blank"}

### About

* Authoer: Trey Smith
* Website: [WhereClause](https://whereclause.com){:target="_blank"}

### Other Helpful Links

* [Qlik Engine JSON API](https://help.qlik.com/en-US/sense-developer/May2021/APIs/EngineAPI/index.html){:target="_blank"} - Reference docs to understand what the Qlik Engine JSON API is expecting.
* [Qlik Repository API (QRS)](https://help.qlik.com/en-US/sense-developer/May2021/APIs/RepositoryServiceAPI/index.html){:target="_blank"} - Reference docs to understand the available QRS endpoints and expectations.
* [Add-Sense](https://chrome.google.com/webstore/detail/add-sense/bbiljflfafkaejgdebbnmcohpidgkejj?hl=en){:target="_blank"} - Amazing Chrome Extension with tons of features for Qlik developers. Made by **Erik Wetterberg | [Upper88](https://upper88.com){:target="_blank"}**.
* [Gitoqlok](https://chrome.google.com/webstore/detail/gitoqlok/kkgicbgpgfcbhcbmifmfagggnpkebdaj?hl=en){:target="_blank"} - Awesome Chrome Extension providing integration between Git + Qlik Sense supporting state of the art version control. Made by **Alex Polotrov & Team | [Gitoqlik](https://gitoqlik.com){:target="_blank"}**.